* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 5px 12px;
	min-width: 296px;
}

header {
	background: #aaa;
}

main {
	background: #ccc;
}

.flexbox {
	display: flex;
}

.filters {
	flex: 1;
}

.search-grouping {
	margin: 10px 5px;
}

.filter_date_range {
	display: flex;
}

.data_container {
	display: flex;
	flex: 4;
	align-content: center;
	justify-content: center;
	margin: 0;
}

footer {
	background: #eee;
}