* {
	box-sizing: border-box;
}

body {
	margin: 5px 12px;
	min-width: 296px;
	font-family: 'Oswald', sans-serif;
}

header {
}

header>h1 {
	color: #1254e4;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center
}

header>p {
	color: #000000;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center
}

main {
	height: 400px;
	border: 10px solid rgb(255, 0, 0);
}

.flexbox {
	display: flex;
	height: 100%;
}

.filters {
	flex: 1;
	margin: auto 5px auto 5px;
}

.label {
	font-size: 21px;
}

.search-grouping {
	margin: 10px 5px;
	font-size: 20px;
}

.filter_date_range {
	display: flex;
}

input[type=submit] {
	margin-top: 30px;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 21px;
	background-color: #1254e4;
	padding: 8px 12px 8px 12px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input {
	width: 100%;
	font-size: 16px;
	padding: 4px 12px 4px 12px;
	border-radius: 4px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.data_container {
	display: flex;
	flex: 3;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 5px;
	text-align: center;
	color: white;
	background: rgb(16, 84, 227);
}

.loading {
	font-size: 21px;
}

.results {
	font-size: 35px;
}

.information {
	display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
	margin-top: 100px;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center
}

.loading {
	top: 50%;
	left: 50%;
}

.loading-bar {
	display: inline-block;
	width: 4px;
	height: 18px;
	border-radius: 4px;
	animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
	background-color: #3498db;
	animation-delay: 0;
}
.loading-bar:nth-child(2) {
	background-color: #c0392b;
	animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
	background-color: #f1c40f;
	animation-delay: .18s;
}
.loading-bar:nth-child(4) {
	background-color: #27ae60;
	animation-delay: .27s;
}

.logo {
	display: block;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}

@keyframes loading {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1, 2.2);
	}
	40% {
		transform: scale(1);
	}
}