* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 5px 12px;
	min-width: 296px;
}

header {
	background: #aaa;
}

main {
	background: #ccc;
}

.flexbox {
	display: flex;
}

.filters {
	flex: 1;
}

.search-grouping {
	margin: 10px 5px;
}

.filter_date_range {
	display: flex;
}

.data_container {
	display: flex;
	flex: 4;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
}

.data_results>p {
	text-align: center;
}

.information {
	display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
	background: #eee;
}

.loading {
	top: 50%;
	left: 50%;
}

.loading-bar {
	display: inline-block;
	width: 4px;
	height: 18px;
	border-radius: 4px;
	animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
	background-color: #3498db;
	animation-delay: 0;
}
.loading-bar:nth-child(2) {
	background-color: #c0392b;
	animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
	background-color: #f1c40f;
	animation-delay: .18s;
}
.loading-bar:nth-child(4) {
	background-color: #27ae60;
	animation-delay: .27s;
}

@keyframes loading {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1, 2.2);
	}
	40% {
		transform: scale(1);
	}
}